html,
body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: white;
    padding: 10px 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
   
    
}

.header {
    background-color: white;
    min-height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color: white;
    min-height: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

iframe {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.precos{
    padding: 20px;

}
.horarios{
    padding: 20px;
    margin-bottom: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 50px;
    padding: 10px;
    border-radius: 10px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input,textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}